<!DOCTYPE html>
<html lang="en">
  {% include 'head' %}
  <body class="page-{% if bodyClasses == blank or bodyClasses == '' %}default{% else %}{{ bodyClasses }}{% endif %}{% if page.url == '/' and site.showBanner %} has-banner{% endif %}">

    {% include 'svg-symbols.svg' %}
    {% if page.url == '/' and site.showBanner %}
      {% include 'banner' %}
    {% endif %}
    {% include 'nav' %}

    {% if caseStudy or product %}
      <article>
        {{ content }}
      </article>
    {% elsif legal %}
      <article>
        <h1>{{ title }}</h1>
        {{ content }}
      </article>
    {% elsif redirect %}
      <article>
        <h1>Redirecting...</h1>
      </article>
    {% else %}
      {{ content }}
    {% endif %}

    {% if redirect != true %}
      {% include 'footer' %}
    {% endif %}

    {% include 'scripts' %}

  </body>
</html>
