<head>
	{% if page.redirect == true %}<meta http-equiv="refresh" content="0; URL='{{ page.redirect_url }}'" />{% endif %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% if page.url != '/' %}{{ title }} | {% endif %} {{ helpers.site.title }} | {{ helpers.site.description }}</title>
	<meta name="description" content="{{ helpers.site.descriptionLong }}" />
	<link rel="shortcut icon" href="/static/favicon.png" />
	<style>
	{{ helpers.css }}
	</style>

	<link rel="stylesheet" href="https://use.typekit.net/tax4mgp.css" />
</head>
