<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{% if page.url != '/' %}{{ title }} | {{ site.title }}{% else %}{{ site.title }} | {{ site.description }}{% endif %}</title>
	{% include '_partials/open-graph' %}
	<meta name="generator" content="{{ eleventy.generator }}">
	<link rel="shortcut icon" href="/favicon.png" />
	<style>{{ "./_src/style/style.scss" | sass }}</style>
	<script type="speculationrules">
		{
			"prerender": [{
				"source": "document",
				"where": {
					"href_matches": "/*"
				},
				"eagerness": "moderate"
			}]
		}
	</script>
</head>
